body{
	overflow: hidden;
}
.header_demo{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	
	background-color: hsl(206, 75%, 41%);
	Color: white;
	
	text-align: center;
	
		font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 28px;
		line-height: 0px;
		letter-spacing: -1px;
		
		font-family: 'PT Sans', arial, serif;
	color:#ffffff;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	padding:10px;
	
	
	
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.5);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	

	
	box-shadow: 
        0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
       /* inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

	
	display: inline-block;
	text-decoration: none
}

.principal_menu{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	
	padding-top: 15px;
	font-size: 38px;
	line-height: 10px;
	letter-spacing: 10px;
	background-color: hsl(206, 75%, 41%);
	
	color: white;
	text-align: center;
}

.view{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 75px;
	
	background-color: hsl(206, 75%, 90%);
	
	overflow-y: auto;
	overflow-x: hidden;
}

.message{
	float: top;
	width : 100%;
	
	border: 1px solid hsl(206, 75%, 90%);
	
	background-color : white;
	
	height: 80px;
	
	
	
}

.message img{
	width: 44px;
	height: 44px;
	
	position : relative;
	left: 15px;
	top:15px;
}

.message msg_header{

	position : relative;
	left: 48px;
	top: -20px;
	color: #5F5F5F;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 18px;
	
}

.message time_stamp{
	position : relative;
	left: -80px;
	margin-left: -30px;
	top: 20px;
	
	color: #5F5F5F;
}

.message.unread{
	background-color: hsl(206, 75%, 70%) !important;
	
	border-color: 2px solid gray;
	
	box-shadow:  1px 1px 1px rgba(100,100,200,0.8);
       
     
		
}

.principal_menu .fa.active{
	/*#1D95D1*/
	color : #D2E8F8 !important; 
}


.iconp{
	position: absolute;
	top: 10px;
	left: 15px;
	color: white;
	font-size: 42px;
	
	display : hidden;	
}
.vertical_menu{
	position: absolute;
	left: -30px;

	top : 45px;
	width : 300px;
	
	
	
	z-index: 100;
}
.vertical_menu li{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #FFF;
	border: 1px solid #DDD;
	
	color: #333333;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
} 

.vertical_menu li img{
position: relative;
	height: 32px;
	top : 5px;
	
	
}

.vertical_menu li div{
position: relative;
	height: 32px;
	top: 5px;
	left: -60px;
	top: 10px;width : 250px;
	color: #333333;
font-family: Gill Sans / Gill Sans MT, sans-serif;
color: #566471;
font-weight: 400;
float : right;
width: 100px;
height : 18px;

	
	
}

.vertical_menu li i{
	position: relative;
	left: 90px;
	top: 15px;
	float : right;
}